*{
    margin: 0px;
    padding: 0px;
}
#signin{
text-align: center;
margin: 8% auto;
display: block;
height: auto;
width: 40%;
margin: auto;
text-align: center;
margin-top: 80px;
/* border: 2px solid green; */
}
h1{
    text-align: center;
    margin: auto;
    display: block;
    color: #494949;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7%;
    margin-top: 10px;
}
img
{
    text-align: center;
    margin: 5% auto;
    display: block;
    cursor: pointer; 
} 
h2
{
    height: auto;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight:bolder;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #202124;
    margin-bottom:30px;
}
#para
{
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    text-align: center;
    color: #494949;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #494949;
    
}
#para2
{
    color: #494949;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
#para3
{
    margin-top: 1vw;
    font-size: 14px;
    text-align: center;
    font-family: 'National 2 Regular';
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #494949;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: -0.1px;
    color: #494949;

}
#box1
{
   
    display: flex;
   justify-content: center;

}
#box1 input
{
    margin: 10px;
    height: 35px;
    width: 40px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #202124;
    outline: none;
    line-height: px;    color: #202124;
    margin-top: 20px;
}
h3
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #494949;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}
#btn
{
    height: 40px;
    padding: 15px 45px;
    color: #0d0c0c;
    font-size: 13px;
    background-color: #dbdbdb;
    border: none;
    outline: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 20px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    cursor: pointer;
    margin-top: 40px;
}
