*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);  
}
body div{
    /* border: 1px  solid red; */
    height: auto;
    width: auto;
    margin: auto;

}#signin{
    height: auto;
    width: 40%;
    margin: auto;
    /* border: 2px solid orange; */
    text-align: center;
   margin-top: 80px;
} h1{
    text-align: center;
    margin: auto;
    display: block;
    color: #494949;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 7%;
    margin-top: 10px;
}img{
    text-align: center;
    margin: 5% auto;
    display: block;
    cursor: pointer;
} #box1 p {
    margin-bottom: 13%;
    margin-top: 6%;

    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight:bolder;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #202124;
    margin-bottom: 7%;
}#number{
    border: none;
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 1px solid #202124;
    outline: none;
    font-family: 'National 2 Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
    letter-spacing: -0.1px;
line-height: 24px;    color: #202124;
    padding-bottom: 0.7%;
    position: relative;
}#para{
    font-family: 'National 2 Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #202124;
    display: block;
    margin-top: 20px;
}#btn{
    height: 44px;
    padding: 10px 40px;
    color: #ffffff;
    font-size: 13px;
    background-color: #202124;
    border: none;
    outline: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 20px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    cursor: pointer;

}
h2:before{
content: "";
width: 210px;
height: 1px;
display: block;
position: absolute;
background-color: rgb(187, 183, 183);
margin-top: 14px;
left: 0;
margin-left: 33%;
}
h2:after{
    content: "";
    width: 210px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: rgb(210, 206, 206);
    margin-top: -11px;
    right: 0;
    margin-right: 33%;
    }
h2{
    margin-top: 20px;
    font-size: 15px;
    font-weight: lighter;
}
#skipBtn{
    width: 90%;
    background: #ffffff;
    color: #202124;
    font-style:normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    outline: none;
    border-radius: 66px;
    border: 1px solid #202124;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 40px;
    cursor: pointer;
    margin-top: 22px;
}
